* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: 100vh;
  background: fixed;
}


.nav{
  background: black;
  color: white;
  height: 70px;
  font-family: sans-serif;

  display: flex;
  flex-wrap:wrap;
  align-items: center;
}

.nav-title{
  width: 30%;
  background:cyan;
  padding: 16px 40px;
  text-align: center;

}

.nav-menu{
  width: 70%;
}

.nav-menu ul{
  display: flex;
  justify-content: flex-end;
}

.nav-menu ul li{
  padding: 10px 20px;
  color: wheat;
  font-size: 15px;
  list-style-type: none;
  cursor: pointer;
}
.nav-menu ul li a{
  padding: 10px 10px;
  color: white;
  font-size:15px;
  list-style-type: none;
  cursor: pointer;
  text-decoration-line: none;
} 


.nav-menu ul li:hover{
  color: wheat;
  font-weight: bold;
}
.nav-menu ul li a:hover{
  color:wheat;
  font-weight: bold;
}

 /*style for responsive menu*/

 @media screen and (max-width:1000px){
   .nav{
     height: auto;
   }
   .nav .nav-title{
     text-align: left;
     width: 100%;
   }

   .nav .nav-menu{
     width: 100%;
   }
   .nav .nav-menu ul{
     justify-content: space-around;
   }

   .nav .nav-menu ul li{
     width: 20%;
     padding: 10px 0px;
     text-align: center;
     font-size: 16px;
   }
   
 }



/* ends */
#hero{
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
  .services{
      text-align: center;
      padding: 50px 20px 50px 20px;
      background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

    
      
      
  }
  .services .icon{
      margin: 0 auto;
      width: 65px;
      text-align: center;
      height: 65px;
      display: flexbox;
      justify-content: center;
      background: #eee;
      position:relative;
      border-radius: 50px;
  }
  .services .icon i{
      font-size: 30px;
      padding-top: 20px;
    
  }
  
   #sbox {
      font-size:medium;
      font-weight:bold;
      transition: 0.5s;
  } 
  #sbox:hover{
    transform: scale(1.1);

  }
  .icontainer{
      width: 100%;
      padding: 20px;
      margin: 100px auto ;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: #e2d1c3;
  }
  .ibox{
      width:250px;
      margin:0 10px;
      box-shadow: #55acee;
      transition: 0.5s;
    } 
    .ibox img{  
        display: block;
        width:100%;
        border-radius:5px
    }
    .ibox:hover{
        transform: scale(1.3);
    }
  
    .wrapper .button{
        display: inline-block;
        height: 60px;
        width: 60px;
    
        text-align: center;
    
        margin:  5px;

        overflow: hidden;
        background: #fff;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
        transition: all 0.3s ease-out;
      }
      .wrapper .button:hover{
        width: 200px;
      }
      .wrapper .button .icon{
        display: inline-block;
        height: 60px;
        width: 60px;
        text-align: center;
        border-radius: 50px;
        box-sizing: border-box;
        line-height: 60px;
        transition: all 0.3s ease-out;
      }
      .wrapper .button:nth-child(1):hover .icon{
        background: #4267B2;
      }
      .wrapper .button:nth-child(2):hover .icon{
        background: #1DA1F2;
      }
      .wrapper .button:nth-child(3):hover .icon{
        background: #E1306C;
      }
      
      
      
      .wrapper .button:nth-child(4):hover .icon{
        background: #ff0000;
      }
      .wrapper .button .icon i{
        font-size: 25px;
        line-height: 60px;
        transition: all 0.3s ease-out;
      }
      .wrapper .button:hover .icon i{
        color: #fff;
      }
      .wrapper .button span{
        font-size: 20px;
        font-weight: 500;
        line-height: 60px;
        margin-left: 10px;
        transition: all 0.3s ease-out;
      }
      .wrapper .button:nth-child(1) span{
        color: #4267B2;
      }
      .wrapper .button:nth-child(2) span{
        color: #1DA1F2;
      }
      .wrapper .button:nth-child(3) span{
        color: #E1306C;
      }
      .wrapper .button:nth-child(4) span{
        color: #ff0000;
      }
      .wrapper .button:nth-child(5) span{
        color: #0077b5;
      }
      
      
      .container:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url("img/bg.jpg") no-repeat center;
        background-size: cover;
        filter: blur(50px);
        z-index: -1;
      }
      .contact-box{
        max-width: 850px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
      }
      
      .left{
        background: url("medi.jpeg") no-repeat center;
        background-size: cover;
        height: 100%;
      }
      
      .right{
        padding: 25px 40px;
      }
      
      h2{
        position: relative;
        padding: 0 0 10px;
        margin-bottom: 10px;
      }
      
      h2:after{
        content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          height: 4px;
          width: 50px;
          border-radius: 2px;
          background-color: #2ecc71;
      }
      
      .field{
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0);
        outline: none;
        background-color: rgba(230, 230, 230, 0.6);
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        margin-bottom: 22px;
        transition: .3s;
      }
      
      .field:hover{
        background-color: rgba(0, 0, 0, 0.1);
      }
      
      textarea{
        min-height: 150px;
      }
      
      
      .btn:hover{
          background-color: #27ae60;
      }
      
      .field:focus{
          border: 2px solid rgba(30,85,250,0.47);
          background-color: #fff;
      }
      
      @media screen and (max-width: 880px){
        .contact-box{
          grid-template-columns: 1fr;
        }
        .left{
          height: 200px;
        }
      }
      #about{
        background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
      }
      #appoint{
        background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
      }
      