* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	/* background-image: url(https://images.pexels.com/photos/204262/pexels-photo-204262.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
    /* background-image: url(background.png); */
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: 100vh;
}
.menu-area li a {
	text-decoration: none;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	padding: 0 25px;
	font-size: 14px;
	line-height: 30px;
	position: relative;
	z-index: 1;
}
.menu-area li {
	list-style: none;
	display: inline-block;
}
.custom-padding {
	padding-top: 25px;
}
nav {
	position: relative;
	padding: 10px 20px 10px 10px;
	text-align: right;
	z-index: 1;
	background: #333;
	margin: 0 auto;
	width: calc(100% - 60px);
}
.logo {
	width: 15%;
	float: left;
	text-transform: uppercase;
	color: #fff;
	font-size: 25px;
	text-align: left;
	padding-left: 2%;
}
.menu-area li a:hover {
	background: tomato;
	color: #fff;
}
nav:before {
	position: absolute;
	content: '';
	left: 0;
	top: 100%;
	border-top: 10px solid #333;
	border-right: 10px solid #333;
	border-left: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
nav:after {
	position: absolute;
	content: '';
	border-top: 10px solid #333;
	border-left: 10px solid #333;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	top: 100%;
	right: 0;
}
  .services{
      text-align: center;
      padding: 50px 20px 50px 20px;
      background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

    
      
      
  }
  .services .icon{
      margin: 0 auto;
      width: 65px;
      text-align: center;
      height: 65px;
      display: flexbox;
      justify-content: center;
      background: #eee;
      position:relative;
      border-radius: 50px;
  }
  .services .icon i{
      font-size: 30px;
      padding-top: 20px;
    
  }
  
   #sbox {
      font-size:medium;
      font-weight:bold;
      transition: 0.5s;
  } 
  #sbox:hover{
    transform: scale(1.1);

  }
  .icontainer{
      width: 100%;
      padding: 20px;
      margin: 100px auto ;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: #e2d1c3;
  }
  .ibox{
      width:250px;
      margin:0 10px;
      box-shadow: #55acee;
      transition: 0.5s;
    } 
    .ibox img{  
        display: block;
        width:100%;
        border-radius:5px
    }
    .ibox:hover{
        transform: scale(1.3);
    }
    .wrapper{
        background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
    }
 
    
    .wrapper .button{
        display: inline-block;
        height: 60px;
        width: 60px;
    
        text-align: center;
    
        margin:  5px;

        overflow: hidden;
        background: #fff;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
        transition: all 0.3s ease-out;
      }
      .wrapper .button:hover{
        width: 200px;
      }
      .wrapper .button .icon{
        display: inline-block;
        height: 60px;
        width: 60px;
        text-align: center;
        border-radius: 50px;
        box-sizing: border-box;
        line-height: 60px;
        transition: all 0.3s ease-out;
      }
      .wrapper .button:nth-child(1):hover .icon{
        background: #4267B2;
      }
      .wrapper .button:nth-child(2):hover .icon{
        background: #1DA1F2;
      }
      .wrapper .button:nth-child(3):hover .icon{
        background: #E1306C;
      }
      
      
      
      .wrapper .button:nth-child(4):hover .icon{
        background: #ff0000;
      }
      .wrapper .button .icon i{
        font-size: 25px;
        line-height: 60px;
        transition: all 0.3s ease-out;
      }
      .wrapper .button:hover .icon i{
        color: #fff;
      }
      .wrapper .button span{
        font-size: 20px;
        font-weight: 500;
        line-height: 60px;
        margin-left: 10px;
        transition: all 0.3s ease-out;
      }
      .wrapper .button:nth-child(1) span{
        color: #4267B2;
      }
      .wrapper .button:nth-child(2) span{
        color: #1DA1F2;
      }
      .wrapper .button:nth-child(3) span{
        color: #E1306C;
      }
      .wrapper .button:nth-child(4) span{
        color: #ff0000;
      }
      .wrapper .button:nth-child(5) span{
        color: #0077b5;
      }
      